<div class="container">
<mat-form-field style="margin: 10px;">
  <mat-label>Numero 1</mat-label>
  <input [(ngModel)]="num1" matInput type="number" >

</mat-form-field>
<mat-form-field style="margin: 10px;">
  <mat-label>Numero 2</mat-label>
  <input [(ngModel)]="num2" matInput type="number">
</mat-form-field>
<mat-radio-group name="opciones" [(ngModel)]="operacionSeleccionada">
  <mat-radio-button *ngFor="let op of tipoOperaciones" [value]="op" style="margin: 10px;" >
  {{op}}
</mat-radio-button>
</mat-radio-group>


<button mat-raised-button (click)="calcular()" color="primary">Calcular</button>
<h1>El resultado es {{resultado}}</h1>

</div>
