<app-menu></app-menu>
<div class="container">
  <div class="row">
    <!-- <h1>
      IDGS901
    </h1>
    <p>Hola Mundo</p>
    <div>
      {{
        title
      }}
    </div>
    <hr>
    <div>El doble de 3 es: {{calcular(3)}}</div>
    <hr>
    <div><b>Matricula:</b> {{alumno.matricula}}</div>
    <div><b>Nombre: </b>{{alumno.nombre|uppercase}}</div>
    <div><b>edad: </b>{{alumno.edad}}</div>
    <div><b>fecha de Nacimiento: </b>{{alumno.fechaNacimiento|date}}</div>
    <div><b>Pago: </b>{{alumno.pago|currency}}</div>

    <hr>
    <br>

    <app-utl>

    </app-utl>
    <hr>
    <br>
    <evn-utl></evn-utl>
    <hr>
    <br>


<app-suma></app-suma>
 <app-operas-bas></app-operas-bas>
 <app-iric></app-iric>
 <app-alumno-reactive></app-alumno-reactive>
     -->
<router-outlet></router-outlet>
  </div>
</div>
